body {
    padding: 20px;
    font-family: sans-serif;
    font-size: 14px;
}

.menu_bar {
    display: flex;
    flex-wrap: wrap;
}

.menu_item {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 1px;
    border-radius: 10px 10px 0px 0px;
    background-color: #c0c0c0;
    color: white;
}

.menu_item:hover{
    background-color: grey;
    color: yellow;
}

.control {
    display: flex;
    margin-top: 10px;
}

button {
    font-family: inherit;
    font-size: 1em;
    margin-right: 5px;
}

table {
    margin-top: 10px;
    width: 100%;
}

.label {
    width: 5px;
    white-space: nowrap;
}

input {
    width: 100%;
    font-family: inherit;
    font-size: 1em;
}
