<head>
    <script src="javascripts/handsontable.full.min.js"></script>
    <script src="javascripts/ajax.js"></script>
    <link href="stylesheets/handsontable.full.min.css" rel="stylesheet" media="screen">
    <link href="stylesheets/style.css" rel="stylesheet" media="screen">
</head>
<body>
    <table>
        <tr>
            <td class="label">DATA_SET:</td>
            <td>
                <input type="text" name="data_set" id="data_set" list="data_set_list" autocomplete="off">
                <datalist id="data_set_list">
                    {{#each data_set_list}}
                    <option>{{this.data_set}}</option>
                    {{/each}}
                </datalist>
            </td>
        </tr>
        <tr>
            <td class="label">URL:</td>
            <td>
                <input type="text" name="url" id="url" list="url_list" autocomplete="off">
                <datalist id="url_list">
                    {{#each url_list}}
                    <option>{{this.url}}</option>
                    {{/each}}
                </datalist>
            </td>
        </tr>
    </table>
    <div class="control">
            <button id="load">load</button>
            <button id="save">save</button>
            <button id="save_all_data">save_all_data</button>
            <button id="get_request">GET</button>
            <button id="post_request">POST</button>
    </div>
    <form id="send_request_form" style="display:none;" target="_blank"></form>
    <div id="data_table"></div> 
    <script src="javascripts/function.js"></script>
</body>
