body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button {
  font: inherit;
}

input {
  width: 100%;
  max-width: 800px;
  font: inherit;
}

table {
  width: 100%;
}

.label {
  width: 5px;
  white-space: nowrap;
}
